
 <section>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="userName">
        <div>
            <button type="button" class="button btn btn-dark" routerLink="/welcome" (click)="addUser(userName)">Add User</button>
            
        </div>
      </div>
 </section>